* {
    box-sizing: border-box;
}

body {
    background-image: url('https://www.cymath.com/img/main_bg.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 20px;
    border-width: 2px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 500ms;
}

button:hover {
    background-color: #45a049;
    border-radius: 8px;
}

p#result {
    font-size: 18px;
    margin-top: 20px;
}
